.resumo{
    border-style: solid;
    color: lightblue;
    width:20rem;
    height: 50px;


}
.explicacao{
    border-style: solid;
    color: orange;
    width: auto;
    height: max-content;
    

}
.aplicacao{ 
    border-style: solid;
    color: aqua;
    width: 5%;
    height: 10rem;


}
.finalizacao{
    border-style:solid;
    color: green;
    width: auto;
    height: 5rem;

    
}

