.resumo{
    border: 5px;
    color: lightblue;
    width:20rem;
    height: 50px;


}
.explicacao{
    border: 20px;
    color: orange;
    width: 15rem;
    height:5rem ;

}
.aplicacao{
    border: ;
    color: ;
    width: ;
    height: ;

}
.finalizacao{
    border: ;
    color: ;
    width: ;
    height: ;
    
}

